@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

html, body{
 margin: 0px;
 padding: 0px;
 font-family: 'Lato',sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 100%;
  color: $white;
  background: $light-grey;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

h1{
  color: $white;
}

h2{
  color: $blue;
}

.container{
  width: 1000px;
  max-width: 100%;
  margin: auto;
}

header{
  
  h1{
    font-size: 50px;
    font-weight: 300;
    margin: auto;
    padding: 0;
    
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
  }
}

.border{
  display: block;
  width: 80px;
  height: 2px;
  background: $blue;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2em;
}
 /* PARALLAX */
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 792px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax img {
  display: block;
  margin: 0 auto; 
}

section.module.parallax {
  background-image: url("../img/parallax.jpg");
}


nav{
  background: $white;
  clear: both;
  overflow: hidden;
  
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
    li{
      float: left;
      
      a{
        display: block;
        padding: 25px 20px;
        text-decoration: none;
        color: $blue;
        font-weight: normal;
        
        &:hover{
          background: $light-grey;
        }
      }
    }
  }
}

section{
  
  width: 100%;
  height: 50%;
  color: $blue;
  
  article{
    padding: 50px 0;
  }
}

section:nth-of-type(odd){
  background: $white;
}

  h2{
  font-family: $lato;
  text-align: center;
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 1px;
  padding: .5em;
  color: $blue;
  text-transform: uppercase;
  }

  p{
  font-family: $lato;
  margin-right: auto;
  margin-left: auto;
  padding: .5em;
  color: $grey;
  }

/*helper*/
.isFixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 0 #eee;
}
.whiteSpace{
  margin-top: 60px;
  -webkit-transition: none;
  transition: none;
}